<div id="main" class="about">
  <div class="article">
    <h1> About Me </h1>
    <p>My name is Sarah Gerstenberg and I've lived most of my life in Port Arthur, Texas. The eldest of 7 children, I was homeschooled K-12th grade. After graduating high school in 2012, I went on to graduate from Art Instruction Schools of Minneapolis, MN in 2014. I am now pursuing a double degree in Art and Music.</p>
    <p>I have played Piano since 2002, Guitar since 2008 and have also studied Violin and Voice a year each. I am the keyboardist at my church and have had the opportunity to play piano for a couple school graduations. Continuing my education in music theory and piano is something I thoroughly enjoy.</p>
    <p>One of the things I love is history. The past always has correlations to the present, and studying it provides many insights to today's issues. I've volunteered as a docent at the McFaddin-Ward House Museum since 2009 and have also had the opportunity to do some contract work for them in the collections department.</p>
    <p>Another passion of mine is the importance of every human life, as determined by Creator-God. The Hope Women's Resource Clinic has provided an opportunity to support this passion, and I've volunteered monthly in their boutique since 2013 and have served on planning committees for their events.</p>
    <p>I am a follower of Christ and He is my first and truest love. I dislike calling Christianity my “religion” because really it is a relationship with Jesus. He has washed my sins away and given me hope for this life and eternity. In return I love Him more than life and want to honor Him in everything I do. I seek to live my life according to the book He has given us, the Bible, and not according to any preconceptions of my culture or my world. Therefore, life is an adventure living for my King!</p>
    <p>
      Contact Information:
      <ul>
        <li>Phone: (409) 365-4323</li>
        <li>Email: <a href="mailto:sarah@gbergfamily.com">sarah@gbergfamily.com</a></li>
        <li>Blog: <a href="http://www.sarah.gbergfamily.com">sarah.gbergfamily.com</a></li>
        <li>Website: <a href="http://sarahgpianostudio.com">sarahgpianostudio.com</a></li>
        <li>Facebook: <a href="https://www.facebook.com/profile.php?id=100007657097810">Sarah Gerstenberg</a></li>
        <li>LinkedIn: <a href="http://www.linkedin.com/pub/sarah-gerstenberg/95/7b7/b91">Sarah Gerstenberg</a></li>
        <li>Google+: <a href="https://plus.google.com/+SarahGerstenberg">Sarah Gerstenberg</a></li>
      </ul>
    </p>
  </div>
</div>